<html>

<head>
    <title>Post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--linking bootstrap css-->
    <link rel="stylesheet" href="/css-boot/bootstrap.min.css">

    <!--linking bootstrap js-->
    <!--linking bootstrap js-->
    <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js-boot/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bagpackProfile.css">
</head>

<body>
    <!--Start of NavBar-->
    <nav class="navbar navbar-inverse" style="background-color:#004d40; margin-bottom: 0px; font-size: 20px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BagPack</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Explore</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Places <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--re write these-->
                            <li><a href="#">Historical Visit</a></li>
                            <li><a href="#">Recreational</a></li>
                            <li><a href="#">Adventurous</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Top Guides</a></li>
                    <li><a href="#">Earn With Us</a></li>
                    <!--add search-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(user) { %>
                    <li> <img src="<%= user.profilePicture.substr(6) %>" style="width:50px; height:50px; border-radius: 50%; padding-right: 1px; padding-top: 1px; padding-bottom: 1px;"></li>
                    <li> <a href="/profile" style="margin-top: 3px;">
                            <%= user.firstName %>
                            <%= user.lastName %></a></li>
                    <!--link to their profile-->
                    <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    <% }else{ %>
                    <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of NavBar-->

    <!--post-->
    <div class="container">

        <div class="row">
            <% if (post) {%>

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <!-- Title -->
                <h1 class="mt-4 text-center">
                    <div hidden id="postId">
                        <%= post.id %>
                    </div>
                    <%= post.title %>
                
                    <% if (user) { %>

                    <% if(user.id === post.userId || user.isAdmin === 1){ %>
                    <form action="/profile/post/edit" method="GET">
                        <input type="submit" value="Edit" class="btn btn-primary">
                    </form>
                    <form action="/profile/post/<%= post.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                    <% } %>
                    <% } %>
                </h1>
                <br>
                <!-- Date/Time -->
                <b>
                    Posted on
                    <%= post.dateCreated %>
                    <br>
                    <!-- Author -->
                    by <a href="/profile/id/<%= post.userId %>">
                        <%= post.firstName %>
                        <%= post.lastName %></a>
                </b>

                <hr>

                <!-- Preview Image -->
                <ul>
                    <!--Display Carosul here-->
                    <div>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <% var k = 0; %>
                                <% pictures.forEach(function(photo){ %>
                                <li data-target="#myCarousel" data-slide-to="<%= k %>" class="<%= (k == 0) ? " active"
                                    : "" %>"></li>
                                <% k++; %>
                                <% }); %>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <% var i = 0; %>
                                <% pictures.forEach(function(photo){ %>
                                <div class="item<%= (i == 0) ? " active" : "" %>">
                                    <img src="/<%= photo.substr(7) %>" alt="nepal" style="width:100%; height: 100%;">
                                </div>
                                <% i++; %>
                                <% }); %>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>

                        </div>
                    </div>

                </ul>

                <hr>

                <!-- Post Content -->

                <a href="" id="upvote">
                    <div id="" style="color:#3D3C3A; text-align: middle; ">
                        <img src="https://img.icons8.com/color/48/000000/good-quality.png" />
                        <label id="upvoteCount">
                            <%= post.upvotes %></label>
                    </div>
                </a>

                <hr>
                <b>
                    <p>Route:
                        <%= post.from %> -
                        <%= post.to %>
                    </p>
                    <p>Total Budget:
                        <%= post.budget %>/-</p>
                    <p>Time duration:
                        <%= post.duration %>
                    </p>
                    <p>Best time to travel:
                        <%= post.bestTime %>
                    </p>
                    <p>Level of difficulty:
                        <%= post.levelOfDifficulty %>
                    </p>
                </b>
                <p>
                    <%- post.content %>
                </p>

                <hr>
                <!-- Comments Form -->
                <% if(user){ %>
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form id="commentForm">
                            <div class="form-group">
                                <input type="text" class="form-control" id="comment" name="comment" rows="3"></textarea>
                            </div>
                            <button id="commentButton" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <% }else{ %>
                <div class="card my-4">
                    <h5 class="card-header">You must be logged in to leave a comment:</h5>
                    <a href="/users/login" class="btn">Login</a>

                </div>

                <% } %>
                <div id="comments">

                    <% comments.forEach(comment => { %>

                    <div class="media">

                        <div class="media-left">
                            <a href="/profile/id/<%= comment.userId %>">
                                <!-- <img class="media-object" src="<%= '\\' + comment.profilePicture.split('public\\')[1] %>" -->
                                <img class="media-object" src="<%= comment.profilePicture.substr(6) %>" style="height:30px; width:30px; border-radius:50%;">
                            </a>
                        </div>
                        <div class="media-body">


                            <h4 class="media-heading">
                                <%= comment.firstName + " " + comment.lastName %>
                            </h4>

                            <%= comment.comment %>
                            <hr style="border: 2px;">
                        </div>
                    </div>
                    <% }) %>
                </div>


                <!-- <div class="media mb-4" id="comments">
                    <% comments.forEach(comment => { %>
                        <div class="media-body" style="display: inline-block;">
                        <img class="d-flex mr-3 rounded-circle" src="<%= '\\' + comment.profilePicture.split('public\\')[1] %>" style="height:30px; width:30px; border-radius:50%;"
                        alt="">
                            <h5 class="mt-0"><%= comment.firstName + " " + comment.lastName %></h5>
                            <%= comment.comment %>
                        </div>
                    <% }) %>
                </div> -->
            </div>
            <% } %>

        </div>

    </div>

    <br>
    <br>

    <footer style="background-color:#004d40; font-size: 15px; color: darkgrey; padding:10px;">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright BagPack</div>

    </footer>
    <script>

        $("#commentForm").on('submit', function (e) {
            e.preventDefault();
            var postId = $("#postId").text();
            $.ajax({
                url: "/profile/post/comment/" + postId,
                method: "post",
                data: {
                    comment: $("#comment").val()
                },
                success: function (comments) {
                    $("#comments").html('');

                    comments.comments.forEach((val) => {
                        $("#comments").append(`
                        <img class="d-flex mr-3 rounded-circle" src="${val.profilePicture.substr(6)}" style="height:30px; width:30px; border-radius:50%;"
                                alt="">
                            <div class="media-body">
                                <h5 class="mt-0">${val.firstName + " " + val.lastName}</h5>
                                ${val.comment}
                            </div>
                        `)
                    })
                }
            });

            comment: $("#comment").val('')
        });
    </script>
    <script>
        $("#upvote").on("click", function (e) {
            var postId = $("#postId").text();

            e.preventDefault(); // cancel the link itself
            $.ajax({
                url: "/profile/post/upvote/" + postId,
                method: "post",
                success: function (upvotes) {
                    if (upvotes.message == "Upvoted") {
                        $("#upvoteCount").text(parseInt($("#upvoteCount").text().trim()) + 1);
                    }
                }
            });
        });
    </script>

</body>


</html>