<html>

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--linking bootstrap css-->
    <!--  <link rel="stylesheet" href="/css-boot/bootstrap.min.css"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!--linking bootstrap js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--linking bootstrap js
    <script src="/jquery/jquery.min.js"></script>!-->
    <link rel="stylesheet" href="css/bagpackProfile.css">
</head>

<body>
    <!--Start of NavBar-->
    <nav class="navbar navbar-inverse" style="background-color:#004d40; margin-bottom: 0px; font-size: 20px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">BagPack</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Explore</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Places <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--re write these-->
                            <li><a href="#">Historical Visit</a></li>
                            <li><a href="#">Recreational</a></li>
                            <li><a href="#">Adventurous</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Top Guides</a></li>
                    <li><a href="#">Earn With Us</a></li>
                    <!--add search-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(user) { %>
                    <li> <img src="<%= user.profilePicture.substr(6) %>" style="width:50px; height:50px; border-radius: 50%; padding-right: 1px; padding-top: 1px; padding-bottom: 1px;"></li>
                    <li> <a href="/profile" style="margin-top: 3px;">
                            <%= user.firstName %>
                            <%= user.lastName %></a></li>
                    <!--link to their profile-->
                    <li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    <% }else{ %>
                    <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of NavBar-->


    <!--Start of Profile Info-->
    <section class="jumbotron">
        <div class="container">
            <% if(profileUser && posts) { %>

            <div class="row text-center">
                <div class="col-md-4">
                    <img src="<%= profileUser.profilePicture.substr(6) %>" style="width: 150px; height:150px; border-radius: 50%">
                    <!--profile pic -->
                    <p style="text-align: center; margin-top: 20px;">
                        <%= profileUser.firstName %>
                        <%= profileUser.lastName %>
                    </p>
                    <!--user name-->
                    <p style="text-align: center;">Home-town:
                        <%= profileUser.address %>
                    </p>
                    <!--address-->
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <h2>Total Posts</h2>
                            <h3 style="margin-top: 30px;">
                                <%= posts.length %>
                            </h3>
                            <!--total no. of posts-->
                        </div>
                        <div class="col-md-3">
                            <h2>Points</h2>
                            <% var sum=posts.length; posts.forEach(post=>{ %>
                            <% sum += post.upvotes; %>
                            <% }); %>
                            <h3 style="margin-top: 30px;">
                                <%= profileUser.points %>

                            </h3>
                            <h3 style="margin-top: 30px;"></h3>
                            <!--points-->
                        </div>
                        <div class="col-md-3">
                            <h2>Level</h2>
                            <h3 style="margin-top: 30px;"><img src="/images/silvermedal.png" style="width:20px; height:20px; border-radius: 50%;">
                                <%= profileUser.level %>
                            </h3>
                        </div>
                        <!--level-->
                        <% if (user === profileUser) { %>
                        <div class="col-md-3">


                            <!-- start of Add Post Modal -->
                            <button type="button" class="btn btn-link btn-md" data-toggle="modal" data-target="#myModal1"
                                style="margin-top:20px;"><span class="glyphicon glyphicon-plus"></span>Add new post</button>
                            <div class="modal fade" id="myModal1" role="dialog">
                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Fill up to add new post</h4>
                                        </div>
                                        <div class="modal-body">

                                            <form id="addPostForm" action="/profile/post/add" enctype="multipart/form-data"
                                                method="POST">


                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="title" name="title"
                                                        placeholder="Post title:">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="from" name="from"
                                                        placeholder="Route-from:">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="to" name="to"
                                                        placeholder="Route-to:">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="budget" name="budget"
                                                        placeholder="Overall-Budget:">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="duration" name="duration"
                                                        placeholder="Time Duration:">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="bestTime" name="bestTime"
                                                        placeholder="Best time to visit:">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="levelOfDifficulty" name="levelOfDifficulty"
                                                        placeholder="Level of difficulty:">
                                                </div>
                                                <div class="form-group">
                                                    <input id="photos" type="file" class="file" name="photos"
                                                        data-show-preview="false" multiple required>
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="content" style="height: 175px; width:100%; " id="content"
                                                        name="content" placeholder="Write your experience:"></textarea>
                                                </div>
                                                <input type="submit" id="addBtn" class="btn btn-success" value="Submit" />
                                                <p hidden id="status">Post Posted Successfully!</p>

                                            </form>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of Add Post Modal -->

                            <br>

                            <!--  start of Edit Profile Modal -->
                            <button type="button" class="btn btn-link btn-md" data-toggle="modal" data-target="#myModal2"><span
                                    class="glyphicon glyphicon-edit"></span> Edit profile</button>
                            <div class="modal fade" id="myModal2" role="dialog">
                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Edit Profile</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="editProfileForm" action="/profile/id/<%= user.id %>?_method=PUT"
                                                enctype="multipart/form-data" method="POST">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="firstName" name="firstName"
                                                        value=" <%= user.firstName %>">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="lastName" name="lastName"
                                                        value="<%= user.lastName %>">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="address" name="address"
                                                        value=" <%= user.address %>">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="description" name="description"
                                                        value=" <%= user.description %>.">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img src="<%= user.profilePicture.substr(6) %>" style="height:60px; width:60px; border-radius:50%; ">
                                                    </div>
                                                    <div class="col-md-10" style="margin-top:20px;">
                                                        <input id="avatar" name="avatar" type="file" class="file"
                                                            data-show-preview="true">
                                                    </div>
                                                </div>
                                                <button type="submit" id="editBtn" class="btn btn-success">Save</button>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  end of Edit Profile Modal -->

                            <br>

                            <!-- start of Delete Account Modal -->
                            <button type="button" class="btn btn-link btn-md" data-toggle="modal" data-target="#myModal3"><span
                                    class="glyphicon glyphicon-remove"></span> Delete account</button>
                            <div class="modal fade" id="myModal3" role="dialog">
                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Delete Account</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Are you sure you want to delete your account permanently?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Yes,
                                                delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of Delete Account Modal -->

                        </div>
                        <% } %>

                    </div>

                    <br>


                    <div class="row">
                        <p style="text-align:left; font-style: oblique;">
                            <%= profileUser.description %>
                            
                        </p>
                    </div>
                </div>
            </div>

            <% } %>

        </div>
    </section>
    <!--End of Profile Info-->


    <!--Posts-->

    <div class="col-md-12 text-center" style="background-color:#004d40; color: darkkhaki;">
        <h3>Your Travel Stories</h3>
    </div>

    <div class="col-md-12" style="height:20px; width:100%;">

    </div>

    <div class="container">

        <div class="row">
            <% if(posts){ %>
            <% posts.forEach(post =>{ %>
            <div class="col-md-4 text-center img-center ">
                <div class="thumbnail">
                    <!-- Title -->
                    <a href="/profile/post/<%= post.id %>">
                        <h1 class="mt-4">
                            <%= post.title %>
                        </h1>
                    </a>
                    <p class="lead">
                        by
                        <a href="/profile/id/<%= post.userId %>">
                            <%= profileUser.firstName %>
                            <%= profileUser.lastName %> </a>
                        <p>Posted on
                            <%= moment(posts[0].dateCreated).format('Do MMMM, YYYY');  %>

                        </p>
                    </p>
                    <!-- Preview Image -->
                    <img class="img-responsive" src="<%= posts[0].pictures.split(',')[0].substr(6) %>" alt="" style="height:250px; width:300px;">
                    <br>
                    <hr>

                    <!-- Post Content -->
                    <br>

                    <b>
                            <p>Route:
                              <%= post.from %> -
                              <%= post.to %>
                            </p>
                            <p>Total Budget(Rs):
                              <%= post.budget %>/-</p>
                            <p>Time duration:
                              <%= post.duration %>
                            </p>
                            <p>Best time to travel:
                              <%= post.bestTime %>
                            </p>
                            <p>Level of difficulty:
                              <%= post.levelOfDifficulty %>
                            </p>
                          </b>
                </div>



            </div>
            <%}) %>
            <% } else{%>
            <h2>No posts</h2>
            <% } %>

        </div>


        <div class="col-md-4 text-center img-center ">


        </div>

        <div class="col-md-4 text-center img-center ">


        </div>

    </div>
    </div>

    <br>
    <br>

    <footer style="background-color:#004d40; font-size: 15px; color: darkgrey; padding:10px; ">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright BagPack</div>
    </footer>
    <script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('content', {
            plugins: 'wysiwygarea,toolbar,basicstyles,link'
        });

        $("#addBtn").click(function (e) {

            $("#addPostForm").submit(function (event) {
                $('#status').removeAttr('hidden');
            });
        });
        $("#editBtn").click(function (e) {


            console.log($("#avatar").val());

            $("#editProfileForm").submit(function (event) {
                console.log($("#avatar").val());
                $('#status').removeAttr('hidden');
            });
        })

    </script>


</body>

</html>